In [371]:
import pandas as pd
import os

def guardar_en_csv(df_filtrado, nombre_archivo):
    '''
    Args:
        df_filtrado: DataFrame con las columnas filtradas
        nombre_archivo (str): nombre del archivo de salida en csv
    '''

    df_filtrado.to_csv(nombre_archivo, index=False)

def abrir_csv(path):
    
    df = pd.read_csv(path)
    return df

path_archivo = os.path.join('data sucias','Free_Press_Index_2019_2024.csv')
df = abrir_csv(path_archivo)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  179 non-null    int64
 1   Country     179 non-null    object
 2   2019_Rank   179 non-null    float64
 3   2019_Score  179 non-null    float64
 4   2020_Rank   179 non-null    float64
 5   2020_Score  179 non-null    float64
 6   2021_Rank   179 non-null    float64
 7   2021_Score  179 non-null    float64
 8   2022_Rank   179 non-null    float64
 9   2022_Score  179 non-null    float64
 10  2023_Rank   179 non-null    float64
 11  2023_Score  179 non-null    float64
 12  2024_Rank   179 non-null    float64
 13  2024_Score  179 non-null    float64
dtypes: float64(12), int64(1), object(1)
memory usage: 19.7+ KB

In [372]:
df.columns

Index(['Unnamed: 0', 'Country', '2019_Rank', '2019_Score', '2020_Rank',
       '2020_Score', '2021_Rank', '2021_Score', '2022_Rank', '2022_Score',
       '2023_Rank', '2023_Score', '2024_Rank', '2024_Score'],
      dtype='object')

In [373]:
df.rename(columns={'Unnamed: 0': 'Rank'}, inplace=True)
df['Rank'] = df['Rank'].astype(int)
df.columns

Index(['Rank', 'Country', '2019_Rank', '2019_Score', '2020_Rank', '2020_Score',
       '2021_Rank', '2021_Score', '2022_Rank', '2022_Score', '2023_Rank',
       '2023_Score', '2024_Rank', '2024_Score'],
      dtype='object')

In [374]:
df

,Rank,Country,2019_Rank,2019_Score,2020_Rank,2020_Score,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,122.0,62.30,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,84.0,69.75,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,146.0,54.48,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,37.0,76.77,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,106.0,66.08,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,147.0,54.34,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,175.0,25.29,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,167.0,41.75,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,120.0,63.00,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,126.0,59.05,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31

In [375]:
path = os.path.join('data limpia', 'Free_Press_CLEEN.csv')
guardar_en_csv(df, path)

In [376]:
df1 = pd.read_csv(os.path.join('data sucias', 'countries_gdp_hist.csv'), sep=';')

df1

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation
0,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1960,0.000000e+00,0.000000,0.000000
1,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1961,0.000000e+00,0.000000,0.000000
2,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1962,0.000000e+00,0.000000,0.000000
3,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1963,0.000000e+00,0.000000,0.000000
4,ABW,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CARIBBEAN,ARUBA,INGRESO ALTO,1964,0.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
13755,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2019,2.571741e+10,25717.409842,-6.332446
13756,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2020,2.686794e+10,26867.936445,-7.816951
13757,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2021,2.724052e+10,27240.515109,8.468017
13758,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2022,3.278975e+10,32789.751736,6.139263
13759,ZWE,AFRICA,SUB-SAHARAN AFRICA,EASTERN AFRICA,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2023,3.523137e+10,35231.367886,5.336730

In [377]:
df1.info()
df1 = df1.drop('region_name', axis=1)
df1 = df1.drop('sub_region_name', axis=1)
df1 = df1.drop('intermediate_region', axis=1)
df1 = df1.drop('total_gdp', axis=1)
df1 = df1.drop('gdp_variation', axis=1)
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13760 entries, 0 to 13759
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_code         13760 non-null  object
 1   region_name          13760 non-null  object
 2   sub_region_name      13760 non-null  object
 3   intermediate_region  13760 non-null  object
 4   country_name         13760 non-null  object
 5   income_group         13760 non-null  object
 6   year                 13760 non-null  int64
 7   total_gdp            13760 non-null  float64
 8   total_gdp_million    13760 non-null  float64
 9   gdp_variation        13760 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 1.0+ MB

,country_code,country_name,income_group,year,total_gdp_million
0,ABW,ARUBA,INGRESO ALTO,1960,0.000000
1,ABW,ARUBA,INGRESO ALTO,1961,0.000000
2,ABW,ARUBA,INGRESO ALTO,1962,0.000000
3,ABW,ARUBA,INGRESO ALTO,1963,0.000000
4,ABW,ARUBA,INGRESO ALTO,1964,0.000000
...,...,...,...,...,...
13755,ZWE,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2019,25717.409842
13756,ZWE,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2020,26867.936445
13757,ZWE,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2021,27240.515109
13758,ZWE,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2022,32789.751736
13759,ZWE,ZIMBABWE,PAÍSES DE INGRESO MEDIANO BAJO,2023,35231.367886

In [378]:
df1 = df1[df1['year'].isin([2019, 2020, 2021, 2022, 2023])]
df1['country_name'] = df1['country_name'].str.title()
df1['income_group'] = df1['income_group'].str.title()

df1.rename(columns={'country_name': 'Country'}, inplace=True)

df1

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\4010222948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['country_name'] = df1['country_name'].str.title()
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\4010222948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['income_group'] = df1['income_group'].str.title()
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\4010222948.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'country_name': 'Country'}, inplace=True)

,country_code,Country,income_group,year,total_gdp_million
59,ABW,Aruba,Ingreso Alto,2019,3395.798883
60,ABW,Aruba,Ingreso Alto,2020,2481.857123
61,ABW,Aruba,Ingreso Alto,2021,2929.446578
62,ABW,Aruba,Ingreso Alto,2022,3279.343544
63,ABW,Aruba,Ingreso Alto,2023,3648.573136
...,...,...,...,...,...
13755,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,2019,25717.409842
13756,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,2020,26867.936445
13757,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,2021,27240.515109
13758,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,2022,32789.751736
13759,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,2023,35231.367886

In [379]:
df_2019 = df1[df1['year'] == 2019]
df_2020 = df1[df1['year'] == 2020]
df_2021 = df1[df1['year'] == 2021]
df_2022 = df1[df1['year'] == 2022]
df_2023 = df1[df1['year'] == 2023]

def agregar_columna_porcentaje(df, año):
    col_gdp = f"{año}_total_gdp_million"
    col_pct = f"{año}_porcentaje"
    
    df[col_gdp] = pd.to_numeric(df[col_gdp], errors='coerce')
    
    min_val = df[col_gdp].min()
    max_val = df[col_gdp].max()
    
    df[col_pct] = ((df[col_gdp] - min_val) / (max_val - min_val)) * 100
    df[col_pct] = df[col_pct].round(2)
    
    # Reubicar la  justo después de la original
    cols = df.columns.tolist()
    idx = cols.index(col_gdp)
    cols.insert(idx + 1, cols.pop(cols.index(col_pct)))
    df = df[cols]
    
    return df

In [380]:
df_2019.rename(columns={
    'country_code' : '2019_country_code',
    'income_group': '2019_income_group',
    'total_gdp_million': '2019_total_gdp_million',
}, inplace=True)

df_2019.drop('year', axis=1, inplace=True)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\271510617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\271510617.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.drop('year', axis=1, inplace=True)

In [381]:
df_2019_porcentaje = agregar_columna_porcentaje(df_2019, 2019)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_gdp] = pd.to_numeric(df[col_gdp], errors='coerce')
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = ((df[col_gdp] - min_val) / (max_val - min_val)) * 100
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = df[col_pct].round(2)

In [382]:
df_2019_porcentaje

,2019_country_code,Country,2019_income_group,2019_total_gdp_million,2019_porcentaje
59,ABW,Aruba,Ingreso Alto,3395.798883,0.02
123,AFG,Afghanistan,Países De Ingreso Bajo,18799.444490,0.09
187,AGO,Angola,Países De Ingreso Mediano Bajo,70897.962732,0.33
251,ALB,Albania,Ingreso Mediano Alto,15585.105131,0.07
315,AND,Andorra,Ingreso Alto,3155.149348,0.01
...,...,...,...,...,...
13499,WSM,Samoa,Países De Ingreso Mediano Bajo,912.950466,0.00
13563,YEM,Yemen,Países De Ingreso Bajo,0.000000,0.00
13627,ZAF,South Africa,Ingreso Mediano Alto,389330.032224,1.81
13691,ZMB,Zambia,Países De Ingreso Mediano Bajo,23308.667781,0.11
13755,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,25717.409842,0.12

In [383]:
df_2020.rename(columns={
    'country_code' : '2020_country_code',
    'income_group': '2020_income_group',
    'total_gdp_million': '2020_total_gdp_million',
}, inplace=True)

df_2020.drop('year', axis=1, inplace=True)

df_2020_porcentaje = agregar_columna_porcentaje(df_2020, 2020)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\2187794796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\2187794796.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.drop('year', axis=1, inplace=True)
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_gdp] = pd.to_numeric(df[col_gdp], errors='coerce')
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = ((df[col_gdp] - min_val) / (max_val - min_val)) * 100
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = df[col_pct].round(2)

In [384]:
df_2021.rename(columns={
    'country_code' : '2021_country_code',
    'income_group': '2021_income_group',
    'total_gdp_million': '2021_total_gdp_million',
}, inplace=True)

df_2021.drop('year', axis=1, inplace=True)

df_2021_porcentaje = agregar_columna_porcentaje(df_2021, 2021)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\3927412528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\3927412528.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.drop('year', axis=1, inplace=True)
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_gdp] = pd.to_numeric(df[col_gdp], errors='coerce')
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = ((df[col_gdp] - min_val) / (max_val - min_val)) * 100
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = df[col_pct].round(2)

In [385]:
df_2022.rename(columns={
    'country_code' : '2022_country_code',
    'income_group': '2022_income_group',
    'total_gdp_million': '2022_total_gdp_million',
}, inplace=True)

df_2022.drop('year', axis=1, inplace=True)

df_2022_porcentaje = agregar_columna_porcentaje(df_2022, 2022)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\112997708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\112997708.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022.drop('year', axis=1, inplace=True)
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_gdp] = pd.to_numeric(df[col_gdp], errors='coerce')
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = ((df[col_gdp] - min_val) / (max_val - min_val)) * 100
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = df[col_pct].round(2)

In [386]:
df_2023.rename(columns={
    'country_code' : '2023_country_code',
    'income_group': '2023_income_group',
    'total_gdp_million': '2023_total_gdp_million',
}, inplace=True)

df_2023.drop('year', axis=1, inplace=True)

df_2023_porcentaje = agregar_columna_porcentaje(df_2023, 2023)

C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\2783503430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.rename(columns={
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\2783503430.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.drop('year', axis=1, inplace=True)
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_gdp] = pd.to_numeric(df[col_gdp], errors='coerce')
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = ((df[col_gdp] - min_val) / (max_val - min_val)) * 100
C:\Users\vbele\AppData\Local\Temp\ipykernel_15032\785754934.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_pct] = df[col_pct].round(2)

In [387]:
df_2019_porcentaje

,2019_country_code,Country,2019_income_group,2019_total_gdp_million,2019_porcentaje
59,ABW,Aruba,Ingreso Alto,3395.798883,0.02
123,AFG,Afghanistan,Países De Ingreso Bajo,18799.444490,0.09
187,AGO,Angola,Países De Ingreso Mediano Bajo,70897.962732,0.33
251,ALB,Albania,Ingreso Mediano Alto,15585.105131,0.07
315,AND,Andorra,Ingreso Alto,3155.149348,0.01
...,...,...,...,...,...
13499,WSM,Samoa,Países De Ingreso Mediano Bajo,912.950466,0.00
13563,YEM,Yemen,Países De Ingreso Bajo,0.000000,0.00
13627,ZAF,South Africa,Ingreso Mediano Alto,389330.032224,1.81
13691,ZMB,Zambia,Países De Ingreso Mediano Bajo,23308.667781,0.11
13755,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,25717.409842,0.12

In [388]:
df_2020_porcentaje

,2020_country_code,Country,2020_income_group,2020_total_gdp_million,2020_porcentaje
60,ABW,Aruba,Ingreso Alto,2481.857123,0.01
124,AFG,Afghanistan,Países De Ingreso Bajo,19955.929052,0.09
188,AGO,Angola,Países De Ingreso Mediano Bajo,48501.561204,0.23
252,ALB,Albania,Ingreso Mediano Alto,15241.458745,0.07
316,AND,Andorra,Ingreso Alto,2891.001149,0.01
...,...,...,...,...,...
13500,WSM,Samoa,Países De Ingreso Mediano Bajo,868.898358,0.00
13564,YEM,Yemen,Países De Ingreso Bajo,0.000000,0.00
13628,ZAF,South Africa,Ingreso Mediano Alto,337974.655408,1.58
13692,ZMB,Zambia,Países De Ingreso Mediano Bajo,18137.764931,0.08
13756,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,26867.936445,0.13

In [389]:
df_2021_porcentaje

,2021_country_code,Country,2021_income_group,2021_total_gdp_million,2021_porcentaje
61,ABW,Aruba,Ingreso Alto,2929.446578,0.01
125,AFG,Afghanistan,Países De Ingreso Bajo,14259.995441,0.06
189,AGO,Angola,Países De Ingreso Mediano Bajo,66505.129988,0.28
253,ALB,Albania,Ingreso Mediano Alto,18032.010564,0.08
317,AND,Andorra,Ingreso Alto,3324.647529,0.01
...,...,...,...,...,...
13501,WSM,Samoa,Países De Ingreso Mediano Bajo,843.923639,0.00
13565,YEM,Yemen,Países De Ingreso Bajo,0.000000,0.00
13629,ZAF,South Africa,Ingreso Mediano Alto,420886.877629,1.78
13693,ZMB,Zambia,Países De Ingreso Mediano Bajo,22096.416932,0.09
13757,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,27240.515109,0.12

In [390]:
df_2022_porcentaje

,2022_country_code,Country,2022_income_group,2022_total_gdp_million,2022_porcentaje
62,ABW,Aruba,Ingreso Alto,3279.343544,0.01
126,AFG,Afghanistan,Países De Ingreso Bajo,14497.243872,0.06
190,AGO,Angola,Países De Ingreso Mediano Bajo,104399.746853,0.40
254,ALB,Albania,Ingreso Mediano Alto,19017.242586,0.07
318,AND,Andorra,Ingreso Alto,3380.612573,0.01
...,...,...,...,...,...
13502,WSM,Samoa,Países De Ingreso Mediano Bajo,832.945206,0.00
13566,YEM,Yemen,Países De Ingreso Bajo,0.000000,0.00
13630,ZAF,South Africa,Ingreso Mediano Alto,406920.004594,1.56
13694,ZMB,Zambia,Países De Ingreso Mediano Bajo,29163.782140,0.11
13758,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,32789.751736,0.13

In [391]:
df_2023_porcentaje

,2023_country_code,Country,2023_income_group,2023_total_gdp_million,2023_porcentaje
63,ABW,Aruba,Ingreso Alto,3648.573136,0.01
127,AFG,Afghanistan,Países De Ingreso Bajo,17233.051620,0.06
191,AGO,Angola,Países De Ingreso Mediano Bajo,84824.654482,0.31
255,ALB,Albania,Ingreso Mediano Alto,23547.179830,0.08
319,AND,Andorra,Ingreso Alto,3785.067332,0.01
...,...,...,...,...,...
13503,WSM,Samoa,Países De Ingreso Mediano Bajo,938.189444,0.00
13567,YEM,Yemen,Países De Ingreso Bajo,0.000000,0.00
13631,ZAF,South Africa,Ingreso Mediano Alto,380699.271815,1.37
13695,ZMB,Zambia,Países De Ingreso Mediano Bajo,27577.956471,0.10
13759,ZWE,Zimbabwe,Países De Ingreso Mediano Bajo,35231.367886,0.13

In [392]:
df_2019 = df_2019_porcentaje[['2019_country_code', 'Country', '2019_income_group', '2019_total_gdp_million', '2019_porcentaje']]
df_2020 = df_2020_porcentaje[['2020_country_code','Country', '2020_income_group', '2020_total_gdp_million', '2020_porcentaje']]
df_2021 = df_2021_porcentaje[['2021_country_code','Country', '2021_income_group', '2021_total_gdp_million', '2021_porcentaje']]
df_2022 = df_2022_porcentaje[['2022_country_code','Country', '2022_income_group', '2022_total_gdp_million', '2022_porcentaje']]
df_2023 = df_2023_porcentaje[['2023_country_code','Country', '2023_income_group', '2023_total_gdp_million', '2023_porcentaje']]

# Concatenamos los DataFrames por filas, sin duplicar columnas
df_pib_tiempo = pd.concat([df_2019.set_index('Country'), 
                           df_2020.set_index('Country'), 
                           df_2021.set_index('Country'), 
                           df_2022.set_index('Country'), 
                           df_2023.set_index('Country')], 
                          axis=1, join='inner')

df_pib_tiempo.reset_index(inplace=True)
df_pib_tiempo

,Country,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje,2020_country_code,2020_income_group,2020_total_gdp_million,2020_porcentaje,2021_country_code,...,2021_total_gdp_million,2021_porcentaje,2022_country_code,2022_income_group,2022_total_gdp_million,2022_porcentaje,2023_country_code,2023_income_group,2023_total_gdp_million,2023_porcentaje
0,Aruba,ABW,Ingreso Alto,3395.798883,0.02,ABW,Ingreso Alto,2481.857123,0.01,ABW,...,2929.446578,0.01,ABW,Ingreso Alto,3279.343544,0.01,ABW,Ingreso Alto,3648.573136,0.01
1,Afghanistan,AFG,Países De Ingreso Bajo,18799.444490,0.09,AFG,Países De Ingreso Bajo,19955.929052,0.09,AFG,...,14259.995441,0.06,AFG,Países De Ingreso Bajo,14497.243872,0.06,AFG,Países De Ingreso Bajo,17233.051620,0.06
2,Angola,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33,AGO,Países De Ingreso Mediano Bajo,48501.561204,0.23,AGO,...,66505.129988,0.28,AGO,Países De Ingreso Mediano Bajo,104399.746853,0.40,AGO,Países De Ingreso Mediano Bajo,84824.654482,0.31
3,Albania,ALB,Ingreso Mediano Alto,15585.105131,0.07,ALB,Ingreso Mediano Alto,15241.458745,0.07,ALB,...,18032.010564,0.08,ALB,Ingreso Mediano Alto,19017.242586,0.07,ALB,Ingreso Mediano Alto,23547.179830,0.08
4,Andorra,AND,Ingreso Alto,3155.149348,0.01,AND,Ingreso Alto,2891.001149,0.01,AND,...,3324.647529,0.01,AND,Ingreso Alto,3380.612573,0.01,AND,Ingreso Alto,3785.067332,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Samoa,WSM,Países De Ingreso Mediano Bajo,912.950466,0.00,WSM,Países De Ingreso Mediano Bajo,868.898358,0.00,WSM,...,843.923639,0.00,WSM,Países De Ingreso Mediano Bajo,832.945206,0.00,WSM,Países De Ingreso Mediano Bajo,938.189444,0.00
211,Yemen,YEM,Países De Ingreso Bajo,0.000000,0.00,YEM,Países De Ingreso Bajo,0.000000,0.00,YEM,...,0.000000,0.00,YEM,Países De Ingreso Bajo,0.000000,0.00,YEM,Países De Ingreso Bajo,0.000000,0.00
212,South Africa,ZAF,Ingreso Mediano Alto,389330.032224,1.81,ZAF,Ingreso Mediano Alto,337974.655408,1.58,ZAF,...,420886.877629,1.78,ZAF,Ingreso Mediano Alto,406920.004594,1.56,ZAF,Ingreso Mediano Alto,380699.271815,1.37
213,Zambia,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11,ZMB,Países De Ingreso Mediano Bajo,18137.764931,0.08,ZMB,...,22096.416932,0.09,ZMB,Países De Ingreso Mediano Bajo,29163.782140,0.11,ZMB,Países De Ingreso Mediano Bajo,27577.956471,0.10
214,Zimbabwe,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12,ZWE,Países De Ingreso Mediano Bajo,26867.936445,0.13,ZWE,...,27240.515109,0.12,ZWE,Países De Ingreso Mediano Bajo,32789.751736,0.13,ZWE,Países De Ingreso Mediano Bajo,35231.367886,0.13

In [393]:
guardar_en_csv(df_pib_tiempo, 'data limpia/Countries_GDP_CLEEN.csv')

In [394]:
df_2019_merged = df.merge(df_2019, on='Country', how='left')
df_2019_merged

,Rank,Country,2019_Rank,2019_Score,2020_Rank,2020_Score,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje
0,0,Afghanistan,121.0,63.45,122.0,62.30,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09,AFG,Países De Ingreso Bajo,18799.444490,0.09
1,1,Albania,82.0,70.16,84.0,69.75,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10,ALB,Ingreso Mediano Alto,15585.105131,0.07
2,2,Algeria,141.0,54.25,146.0,54.48,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98,DZA,Ingreso Mediano Alto,193459.662091,0.90
3,3,Andorra,37.0,75.37,37.0,76.77,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44,AND,Ingreso Alto,3155.149348,0.01
4,4,Angola,109.0,65.04,106.0,66.08,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,147.0,54.34,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06,NaN,NaN,NaN,NaN
175,175,Vietnam,176.0,25.07,175.0,25.29,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31,NaN,NaN,NaN,NaN
176,176,Yemen,168.0,38.34,167.0,41.75,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67,YEM,Países De Ingreso Bajo,0.000000,0.00
177,177,Zambia,119.0,63.62,120.0,63.00,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11
178,178,Zimbabwe,127.0,57.77,126.0,59.05,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12

In [395]:
cols_2019 = ['2019_country_code','2019_income_group', '2019_total_gdp_million' , '2019_porcentaje']
pos = df_2019_merged.columns.get_loc('2019_Score') + 1
cols = list(df_2019_merged.columns)
for col in cols_2019:
    cols.remove(col)
for i, col in enumerate(cols_2019):
    cols.insert(pos + i, col)
df_2019_merged = df_2019_merged[cols]
df_2019_merged

,Rank,Country,2019_Rank,2019_Score,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje,2020_Rank,2020_Score,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,AFG,Países De Ingreso Bajo,18799.444490,0.09,122.0,62.30,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,ALB,Ingreso Mediano Alto,15585.105131,0.07,84.0,69.75,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,DZA,Ingreso Mediano Alto,193459.662091,0.90,146.0,54.48,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,AND,Ingreso Alto,3155.149348,0.01,37.0,76.77,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33,106.0,66.08,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,YEM,Países De Ingreso Bajo,0.000000,0.00,167.0,41.75,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11,120.0,63.00,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12,126.0,59.05,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31

In [396]:
df_2020_merged = df_2019_merged.merge(df_2020, on='Country', how='left')
cols_2020 = ['2020_country_code','2020_income_group', '2020_total_gdp_million', '2020_porcentaje']
pos = df_2020_merged.columns.get_loc('2020_Score') + 1
cols = list(df_2020_merged.columns)
for col in cols_2020:
    cols.remove(col)
for i, col in enumerate(cols_2020):
    cols.insert(pos + i, col)
df_2020_merged = df_2020_merged[cols]
df_2020_merged

,Rank,Country,2019_Rank,2019_Score,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje,2020_Rank,2020_Score,...,2020_total_gdp_million,2020_porcentaje,2021_Rank,2021_Score,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,AFG,Países De Ingreso Bajo,18799.444490,0.09,122.0,62.30,...,19955.929052,0.09,122.0,59.81,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,ALB,Ingreso Mediano Alto,15585.105131,0.07,84.0,69.75,...,15241.458745,0.07,83.0,69.41,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,DZA,Ingreso Mediano Alto,193459.662091,0.90,146.0,54.48,...,164873.415325,0.77,146.0,52.74,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,AND,Ingreso Alto,3155.149348,0.01,37.0,76.77,...,2891.001149,0.01,39.0,76.68,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33,106.0,66.08,...,48501.561204,0.23,103.0,65.94,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,NaN,NaN,148.0,52.40,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,NaN,NaN,175.0,21.54,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,YEM,Países De Ingreso Bajo,0.000000,0.00,167.0,41.75,...,0.000000,0.00,169.0,37.65,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11,120.0,63.00,...,18137.764931,0.08,115.0,61.79,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12,126.0,59.05,...,26867.936445,0.13,130.0,56.88,137.0,44.94,126.0,48.17,116.0,50.31

In [397]:
df_2021_merged = df_2020_merged.merge(df_2021, on='Country', how='left')
cols_2021 = ['2021_country_code','2021_income_group', '2021_total_gdp_million', '2021_porcentaje']
pos = df_2021_merged.columns.get_loc('2021_Score') + 1
cols = list(df_2021_merged.columns)
for col in cols_2021:
    cols.remove(col)
for i, col in enumerate(cols_2021):
    cols.insert(pos + i, col)
df_2021_merged = df_2021_merged[cols]
df_2021_merged

,Rank,Country,2019_Rank,2019_Score,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje,2020_Rank,2020_Score,...,2021_country_code,2021_income_group,2021_total_gdp_million,2021_porcentaje,2022_Rank,2022_Score,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,AFG,Países De Ingreso Bajo,18799.444490,0.09,122.0,62.30,...,AFG,Países De Ingreso Bajo,14259.995441,0.06,156.0,38.27,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,ALB,Ingreso Mediano Alto,15585.105131,0.07,84.0,69.75,...,ALB,Ingreso Mediano Alto,18032.010564,0.08,103.0,56.41,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,DZA,Ingreso Mediano Alto,193459.662091,0.90,146.0,54.48,...,DZA,Ingreso Mediano Alto,186231.205262,0.79,134.0,45.53,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,AND,Ingreso Alto,3155.149348,0.01,37.0,76.77,...,AND,Ingreso Alto,3324.647529,0.01,53.0,68.79,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33,106.0,66.08,...,AGO,Países De Ingreso Mediano Bajo,66505.129988,0.28,99.0,57.17,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,NaN,NaN,NaN,NaN,159.0,37.78,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,NaN,NaN,NaN,NaN,174.0,26.11,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,YEM,Países De Ingreso Bajo,0.000000,0.00,167.0,41.75,...,YEM,Países De Ingreso Bajo,0.000000,0.00,169.0,29.14,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11,120.0,63.00,...,ZMB,Países De Ingreso Mediano Bajo,22096.416932,0.09,109.0,55.40,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12,126.0,59.05,...,ZWE,Países De Ingreso Mediano Bajo,27240.515109,0.12,137.0,44.94,126.0,48.17,116.0,50.31

In [398]:
df_2022_merged = df_2021_merged.merge(df_2022, on='Country', how='left')
cols_2022 = ['2022_country_code','2022_income_group', '2022_total_gdp_million',     '2022_porcentaje']
pos = df_2022_merged.columns.get_loc('2022_Score') + 1
cols = list(df_2022_merged.columns)
for col in cols_2022:
    cols.remove(col)
for i, col in enumerate(cols_2022):
    cols.insert(pos + i, col)
df_2022_merged = df_2022_merged[cols]
df_2022_merged

,Rank,Country,2019_Rank,2019_Score,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje,2020_Rank,2020_Score,...,2022_Rank,2022_Score,2022_country_code,2022_income_group,2022_total_gdp_million,2022_porcentaje,2023_Rank,2023_Score,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,AFG,Países De Ingreso Bajo,18799.444490,0.09,122.0,62.30,...,156.0,38.27,AFG,Países De Ingreso Bajo,14497.243872,0.06,152.0,39.75,178.0,19.09
1,1,Albania,82.0,70.16,ALB,Ingreso Mediano Alto,15585.105131,0.07,84.0,69.75,...,103.0,56.41,ALB,Ingreso Mediano Alto,19017.242586,0.07,96.0,57.86,99.0,54.10
2,2,Algeria,141.0,54.25,DZA,Ingreso Mediano Alto,193459.662091,0.90,146.0,54.48,...,134.0,45.53,DZA,Ingreso Mediano Alto,225638.456572,0.87,136.0,45.74,139.0,41.98
3,3,Andorra,37.0,75.37,AND,Ingreso Alto,3155.149348,0.01,37.0,76.77,...,53.0,68.79,AND,Ingreso Alto,3380.612573,0.01,37.0,75.05,72.0,61.44
4,4,Angola,109.0,65.04,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33,106.0,66.08,...,99.0,57.17,AGO,Países De Ingreso Mediano Bajo,104399.746853,0.40,125.0,48.30,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,159.0,37.78,NaN,NaN,NaN,NaN,159.0,36.99,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,174.0,26.11,NaN,NaN,NaN,NaN,178.0,24.58,174.0,22.31
176,176,Yemen,168.0,38.34,YEM,Países De Ingreso Bajo,0.000000,0.00,167.0,41.75,...,169.0,29.14,YEM,Países De Ingreso Bajo,0.000000,0.00,168.0,32.78,154.0,33.67
177,177,Zambia,119.0,63.62,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11,120.0,63.00,...,109.0,55.40,ZMB,Países De Ingreso Mediano Bajo,29163.782140,0.11,87.0,59.41,95.0,55.38
178,178,Zimbabwe,127.0,57.77,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12,126.0,59.05,...,137.0,44.94,ZWE,Países De Ingreso Mediano Bajo,32789.751736,0.13,126.0,48.17,116.0,50.31

In [399]:
df_2023_merged = df_2022_merged.merge(df_2023, on='Country', how='left')
cols_2023 = ['2023_country_code','2023_income_group', '2023_total_gdp_million',   '2023_porcentaje']
pos = df_2023_merged.columns.get_loc('2023_Score') + 1
cols = list(df_2023_merged.columns)
for col in cols_2023:
    cols.remove(col)
for i, col in enumerate(cols_2023):
    cols.insert(pos + i, col)
df_2023_merged = df_2023_merged[cols]
df_2023_merged

,Rank,Country,2019_Rank,2019_Score,2019_country_code,2019_income_group,2019_total_gdp_million,2019_porcentaje,2020_Rank,2020_Score,...,2022_total_gdp_million,2022_porcentaje,2023_Rank,2023_Score,2023_country_code,2023_income_group,2023_total_gdp_million,2023_porcentaje,2024_Rank,2024_Score
0,0,Afghanistan,121.0,63.45,AFG,Países De Ingreso Bajo,18799.444490,0.09,122.0,62.30,...,14497.243872,0.06,152.0,39.75,AFG,Países De Ingreso Bajo,17233.051620,0.06,178.0,19.09
1,1,Albania,82.0,70.16,ALB,Ingreso Mediano Alto,15585.105131,0.07,84.0,69.75,...,19017.242586,0.07,96.0,57.86,ALB,Ingreso Mediano Alto,23547.179830,0.08,99.0,54.10
2,2,Algeria,141.0,54.25,DZA,Ingreso Mediano Alto,193459.662091,0.90,146.0,54.48,...,225638.456572,0.87,136.0,45.74,DZA,Ingreso Mediano Alto,247626.161016,0.89,139.0,41.98
3,3,Andorra,37.0,75.37,AND,Ingreso Alto,3155.149348,0.01,37.0,76.77,...,3380.612573,0.01,37.0,75.05,AND,Ingreso Alto,3785.067332,0.01,72.0,61.44
4,4,Angola,109.0,65.04,AGO,Países De Ingreso Mediano Bajo,70897.962732,0.33,106.0,66.08,...,104399.746853,0.40,125.0,48.30,AGO,Países De Ingreso Mediano Bajo,84824.654482,0.31,104.0,52.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Venezuela,148.0,50.90,NaN,NaN,NaN,NaN,147.0,54.34,...,NaN,NaN,159.0,36.99,NaN,NaN,NaN,NaN,156.0,33.06
175,175,Vietnam,176.0,25.07,NaN,NaN,NaN,NaN,175.0,25.29,...,NaN,NaN,178.0,24.58,NaN,NaN,NaN,NaN,174.0,22.31
176,176,Yemen,168.0,38.34,YEM,Países De Ingreso Bajo,0.000000,0.00,167.0,41.75,...,0.000000,0.00,168.0,32.78,YEM,Países De Ingreso Bajo,0.000000,0.00,154.0,33.67
177,177,Zambia,119.0,63.62,ZMB,Países De Ingreso Mediano Bajo,23308.667781,0.11,120.0,63.00,...,29163.782140,0.11,87.0,59.41,ZMB,Países De Ingreso Mediano Bajo,27577.956471,0.10,95.0,55.38
178,178,Zimbabwe,127.0,57.77,ZWE,Países De Ingreso Mediano Bajo,25717.409842,0.12,126.0,59.05,...,32789.751736,0.13,126.0,48.17,ZWE,Países De Ingreso Mediano Bajo,35231.367886,0.13,116.0,50.31

In [400]:
guardar_en_csv(df_2023_merged, 'Prensa_Ingreso.csv')

guardar_en_csv(df_2019, 'data limpia/Countries_GDP_2019.csv')
guardar_en_csv(df_2020, 'data limpia/Countries_GDP_2020.csv')
guardar_en_csv(df_2021, 'data limpia/Countries_GDP_2021.csv')
guardar_en_csv(df_2022, 'data limpia/Countries_GDP_2022.csv')
guardar_en_csv(df_2023, 'data limpia/Countries_GDP_2023.csv')

In [401]:
df_2023_merged['2020_total_gdp_million'] = pd.to_numeric(df_2023_merged['2020_total_gdp_million'], errors='coerce')

min_val_2020 = df_2023_merged['2020_total_gdp_million'].min()
max_val_2020 = df_2023_merged['2020_total_gdp_million'].max()

df_2023_merged['2020_porcentaje'] = (
    (df_2023_merged['2020_total_gdp_million'] - min_val_2020) / (max_val_2020 - min_val_2020)
) * 100

df_2023_merged['2020_porcentaje'] = df_2023_merged['2020_porcentaje'].round(2)

df_2023_merged.to_csv("data limpia\\Countries_GDP_CLEEN_porcentaje_2020.csv", index=False)

In [402]:
df_2023_merged['2021_total_gdp_million'] = pd.to_numeric(df_2023_merged['2021_total_gdp_million'], errors='coerce')

min_val_2021 = df_2023_merged['2021_total_gdp_million'].min()
max_val_2021 = df_2023_merged['2021_total_gdp_million'].max()

df_2023_merged['2021_porcentaje'] = (
    (df_2023_merged['2021_total_gdp_million'] - min_val_2021) / (max_val_2021 - min_val_2021)
) * 100

df_2023_merged['2021_porcentaje'] = df_2023_merged['2021_porcentaje'].round(2)

df_2023_merged.to_csv("data limpia\\Countries_GDP_CLEEN_porcentaje_2021.csv", index=False)

In [403]:
df_2023_merged['2022_total_gdp_million'] = pd.to_numeric(df_2023_merged['2022_total_gdp_million'], errors='coerce')

min_val_2022 = df_2023_merged['2022_total_gdp_million'].min()
max_val_2022 = df_2023_merged['2022_total_gdp_million'].max()

df_2023_merged['2022_porcentaje'] = (
    (df_2023_merged['2022_total_gdp_million'] - min_val_2022) / (max_val_2022 - min_val_2022)
) * 100

df_2023_merged['2022_porcentaje'] = df_2023_merged['2022_porcentaje'].round(2)

df_2023_merged.to_csv("data limpia\\Countries_GDP_CLEEN_porcentaje_2022.csv", index=False)

In [404]:
df_2023_merged['2023_total_gdp_million'] = pd.to_numeric(df_2023_merged['2023_total_gdp_million'], errors='coerce')

min_val_2023 = df_2023_merged['2023_total_gdp_million'].min()
max_val_2023 = df_2023_merged['2023_total_gdp_million'].max()

df_2023_merged['2023_porcentaje'] = (
    (df_2023_merged['2023_total_gdp_million'] - min_val_2023) / (max_val_2023 - min_val_2023)
) * 100

df_2023_merged['2023_porcentaje'] = df_2023_merged['2023_porcentaje'].round(2)

df_2023_merged.to_csv("data limpia\\Countries_GDP_CLEEN_porcentaje_2023.csv", index=False)